<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.duckflew.mapper.admin.MenuMapper">
 
   <select id="getBottomNodeList" resultType="cn.duckflew.entity.admin.Menu">
    SELECT f.* FROM t_menu f  left join t_menu son  on son.parent_id= f.id
    GROUP BY f.id
    HAVING count(son.id)=0
   </select>

</mapper>