<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.duckflew.mapper.QuestionMapper">
 
   
   
    <select id="pageQuestionIdByAreaId"  resultType="java.lang.Integer">
        SELECT  DISTINCT question_id FROM `question_area`
        WHERE consult_area_id in
         <foreach collection="likeAreaIdList" item="area_id" separator="," open="(" close=")">
           #{area_id}
       </foreach>
    </select>


</mapper>