<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="cn.duckflew.mapper.SystemMsgMapper">
 
   <select id="getChatIdList" resultType="integer">
       SELECT DISTINCT from_user_id FROM `t_sys_msg` WHERE to_user_id = #{userId} AND  msg_type=1;
  </select>
  <select id="getRecordList" resultType="cn.duckflew.entity.system.SystemMsg">
SELECT * FROM `t_sys_msg`
WHERE msg_type=1
AND
((from_user_id=#{fromUserId} AND to_user_id=#{toUserId}) OR (from_user_id=#{toUserId} AND to_user_id=#{fromUserId}))
ORDER BY create_time DESC
 </select>
   
</mapper>